@tailwind base;
@tailwind components;
@tailwind utilities;

.text-red {
    color: red;
  }

.text-orange{
    color: orange
}

.text-gold{
    color: gold
}

.text-green {
    color: limegreen
}

.bg-color{
    background-color: orange;
    height: 100;
    
}

.bg-image{
    background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/t_fit-760w,f_auto,q_auto:best/rockcms/2023-10/231016-rick-and-morty-cs-7502c0.jpg');
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100vw;
    max-height: 100vh;
    
}

.single-card{
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: fit-content;
}
